DATABASE_URL=postgresql://reachinbox:reachinbox@localhost:5432/reachinbox
PORT=4000
MAX_EMAILS_PER_HOUR=25
MIN_DELAY_BETWEEN_EMAILS_MS=2000
WORKER_CONCURRENCY=5
ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=your_ethereal_user
ETHEREAL_PASS=your_ethereal_pass
